<%= form_with model: provider, id: "provider_form" do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :address %>
    <%= f.text_area :address %>
  </div>

  <div>
    <%= f.label :contact %>
    <%= f.text_field :contact %>
  </div>

  <div>
    <%= f.label :bank_number %>
    <%= f.text_field :bank_number %>
  </div>

  <div>
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>

  <%= f.submit class: blue_btn %>
<% end %>