<div id="<%= dom_id provider %>">
  <%= turbo_frame_tag 'edit_provider' do %>
    <%= provider.name %>
    <%= provider.phone %>
    <%= link_to 'edit', edit_provider_path(provider.id) %>
  <% end %>
</div>