<div class="nested-form-wrapper form-inline" data-new-record="<%= f.object.new_record? %>">
  <div class="card p-2" >
    <%= price_field(f, f_parent) %>

    <div class="form-group mb-2">
      <%= f.label :customer_id %>
      <%= f.collection_select :customer_id, Customer.all, :id, :full_name, {}, {class: 'form-select'} %>
    </div>

    <div class="mb-2">
      <%= f.label :quantity %>
      <%= f.select :quantity, (1..f_parent.object.stock_quantity).to_a, {}, class: 'form-select' %>
    </div>

    <div class="d-flex justify-content-between">
    <button type="button" data-action="nested-form#remove" class="btn btn-danger">Cancelar</button>
    <%= f.hidden_field :_destroy %>
    <%= f_parent.submit 'Save', class: pink_btn %>
    </div>
  </div>
</div>
