<div class="nested-form-wrapper form-inline" data-new-record="<%= f.object.new_record? %>">
  <div class="card p-2" style="width: 18rem;">
    <%= price_field(f, f_parent) %>

    <div class="form-group mb-2">
      <%= f.label :customer_id %>
      <%= f.collection_select :customer_id, Customer.all, :id, :full_name, {}, {class: 'form-select'} %>
    </div>

    <div class="mb-2">
      <%= f.label :quantity %>
      <%= f.select :quantity, (1..f_parent.object.stock_quantity).to_a, {}, class: 'form-select' %>
    </div>

    <button type="button" data-action="nested-form#remove" class="btn btn-danger">Remove Selling Price</button>
    <%= f.hidden_field :_destroy %>
  </div>
  <%= f_parent.submit 'Save', class: green_btn %>
</div>
