<div class="card d-inline-block p-2" id="<%= dom_id selling_order %>">
  <%= form_with model: selling_order do |f| %>

    <div class="form-group mb-2">
      <%= selling_order.inventory_purchase.product.name %>
    </div>

    <div class="form-group mb-2">
      deuda: <%= selling_order.debt_payed %>
    </div>

    <%= display_sizes(selling_order.inventory_purchase) %>
    <%= display_colors(selling_order.inventory_purchase) %>

    <div class="form-group mb-2">
      <%= format_date(selling_order.created_at) %>
    </div>
    <%= f.hidden_field :paid, value: true %>

    <%= f.submit 'Pagar', class: pink_btn %>
  <% end %>
</div>