<nav class="navbar navbar-light bg-light">
  <div class="container-fluid px-4">
      <div class="d-flex">
        <%= link_to 'Providers', providers_path, class: active_nav?(providers_path) %>
        <%= link_to 'Categories', categories_path, class: active_nav?(categories_path) %>
        <%= link_to 'Products', products_path, class: active_nav?(products_path) %>
        <%= link_to 'Customers', customers_path, class: active_nav?(customers_path) %>
      </div>
      <div class="d-flex">
        <%= button_to "Sign Out", destroy_admin_session_path, method: :delete, class: red_btn %>
      </div>
  </div>
</nav>