<nav class="navbar navbar-light bg-light">
  <div class="container-fluid px-4">
    <% if admin_signed_in? %>
      <div class="d-flex">
        <%= link_to 'Providers', providers_path, class: "navbar-brand#{' active' if current_page?(providers_path)}" %>
        <%= link_to 'Categories', categories_path, class: "navbar-brand#{' active' if current_page?(categories_path)}" %>
        <%= link_to 'Products', products_path, class: "navbar-brand#{' active' if current_page?(products_path)}" %>
        <%= link_to 'Customers', customers_path, class: "navbar-brand#{' active' if current_page?(customers_path)}" %>
      </div>
      <div class="d-flex">
        <%= button_to "Sign Out", destroy_admin_session_path, method: :delete, class: red_btn %>
      </div>
    <%else %>
      <div class="d-flex nav__container--session justify-content-between">

        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Sign In
          </button>
          <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
            <%= render 'devise/sessions/new_session' %>
          </ul>
        </div>

        <%= link_to 'Registration', new_admin_registration_path, class: blue_btn %>
      </div>
    <% end %>

  </div>
</nav>