<div class="d-inline-block">
  <div class="card" id="<%= dom_id cost %>" >
    <%= turbo_frame_tag "cost_edit_#{cost.id}" do %>
      <div class="card-body">
        <p class="card-text">Buying date: <%= format_date(cost.created_at) %></p>
        <p class="card-text">Product Cost:
          <%= number_to_currency( cost.price, unit: "S/.", separator: ".", delimiter: ",")%>
          </p>
        <p class="card-text">Quantity: <%= cost.quantity %></p>
      </div>
    <% end %>
  </div>
</div>
