<%= form_tag(customers_path, method: :get) do %>
  <div class="d-flex">
    <%= submit_tag("Search", class: search_btn, method: :get) %>

    <%= select_tag :users, options_from_collection_for_select(category_list, :first, :last),
                   { include_blank: 'Select a category', class: 'cat__select', multiple: true,
                     id: 'validationTagsThreshold', data: { controller: 'tag-select', allow_clear: true, suggestions_threshold: 0 }
                   } %>

    <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Filter
      </a>
      <ul class="dropdown-menu">
        <%= link_to "Date", { sort_by_name: "created_at" }, class: "dropdown-item" %>
        <%= link_to "Name", { sort_by_name: "name" }, class: "dropdown-item"  %>
        <%= link_to "Payers", { paid_orders: "" }, class: "dropdown-item" %>
        <%= link_to "UnPayed", { unpaid_orders: "" }, class: "dropdown-item"  %>
      </ul>
    </div>

  </div>
<% end %>
