<%= form_tag(customers_path, method: :get) do %>
  <div class="d-flex">
    <%= submit_tag("Search", class: blue_btn, method: :get) %>

    <%= select_tag :categories, options_from_collection_for_select(category_list, :first, :last),
                   { include_blank: 'Select a category', class: 'cat__select', multiple: true,
                     id: 'validationTagsThreshold', data: { controller: 'tag-select', allow_clear: true, suggestions_threshold: 0 }
                   } %>

    <div class="btn-group btn-group-toggle">
      <%= link_to "Date", { sort_by_name: "created_at" }, class: green_btn %>
      <%= link_to "Name", { sort_by_name: "name" }, class: green_btn %>
      <%= link_to "Payers", { paid_orders: "" }, class: green_btn %>
      <%= link_to "Not Payed", { unpaid_orders: "" }, class: green_btn %>
    </div>

  </div>
<% end %>
