<div class="card__container p-2" id="<%= dom_id balance %>">
    <div class="card m-1" >
      <div class="card-body">
        <p class="card-title">
          <strong>
            <%= balance.starting_total %>
          </strong>
        </p>
        <div id='balance_spends'>
          <% balance.spends.each do |spend| %>
            <%= render 'spends/spend', spend: spend %>
          <% end %>
          <% balance.selling_orders.where(paid: true).each do |selling_order| %>
            <%= render 'balances/selling_order', selling_order: selling_order %>
          <% end %>
        </div>
        <p class="card-text"><%= balance.sub_total %></p>
      </div>
    </div>
</div>
