<%= form_for(resource, as: resource_name, url: session_path(resource_name),
             html: { class: 'log_in__form p-4' }) do |f| %>
  <h2 class="m-2">3B's</h2>

  <%= image_tag('muestra.png', class: 'mb-3') %>

  <div class="mb-3" >
    <footer class="blockquote-footer"><%= @phrase %></footer>
  </div>

  <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: :email, class: 'mb-4' %>

  <%= f.password_field :password, autocomplete: "current-password", placeholder: :password, class: 'mb-4' %>

  <%= f.submit "Log in", class: 'mb-2' %>
<% end %>
