<%= form_with model: category, id: "category_form",
              data: {
                form_target: 'dropdownContent'
              }, class: invisible(category) do |f| %>
  <div class="mb-3">
    <%= f.label :name, class: form_label %>
    <%= f.text_field :name, class: form_control %>
  </div>

  <div class="div">
    <%= f.submit 'Guardar', class: blue_btn %>
    <%= link_to 'back', categories_path, class: 'text-decoration-none' %>
  </div>
<% end %>