<%= form_with model: inventory_purchase, html: { class: 'mx-2' }, data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' } do |f| %>
  <div>
    <%= order_button_if_stock_left(inventory_purchase) %>
  </div>
  <div>
    <template data-nested-form-target="template">
      <%= f.fields_for :selling_orders, SellingOrder.new, child_index: 'NEW_RECORD' do |selling_fields| %>
        <%= render "selling_orders/form", f: selling_fields, f_parent: f %>
      <% end %>
    </template>
    <div data-nested-form-target="target"></div>
  </div>
<% end %>
<div class="selling_order_container" id="<%= dom_id inventory_purchase, "selling" %>">
  <% inventory_purchase.selling_orders.includes([:customer]).each do |selling_order| %>
    <%= render "selling_orders/card", selling_order: selling_order %>
  <% end %>
</div>