<%= form_with model: product, id: "product_form" do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
 <div>
  <%= select("product", "provider_id", current_admin.providers_select, selected: product.provider_id || '') %>
 </div>
  <%= f.submit class: blue_btn %>
<% end %>