<%= form_with(
      model: product, id: 'product_form',
      data: {
        form_target: 'dropdownContent',
}, class: invisible(product)) do |f| %>
  <div class="mb-3">
    <%= f.label :nombre, class: form_label %>
    <%= f.text_field :name, class: form_control %>
  </div>

  <div class="mb-3">
    <%= f.label :descripcion, class: form_label %>
    <%= f.text_area :description, class: form_control %>
  </div>

  <div class="mb-3">
    <%= f.label :selecciona_categoria %>
    <%= product_categories_select(product, f) %>
  </div>

  <div class="mb-3">
    <%= f.label :selecciona_proveedor %>
    <%= f.select :provider_id, options_for_select(current_admin.providers_select, selected: product.provider_id), { include_blank: false }, { class: 'form-select' } %>
  </div>

  <%#= nested_inventory_purchases(product, f) %>
  <%= faulty_checkbox(f, product) %>
  <%= f.submit 'Guardar', class: blue_btn %>
  <%= link_to 'Cancelar', product_path(product.id), class: 'text-decoration-none' if product.persisted? %>
<% end %>



