<%= form_with model: product, id: "product_form" do |f| %>
  <div class="mb-3">
    <%= f.label :name, class: form_label %>
    <%= f.text_field :name, class: form_control %>
  </div>

  <div class="mb-3">
    <%= f.label :description, class: form_label %>
    <%= f.text_area :description, class: form_control %>
  </div>
  <div class="mb-3">
    <%= f.label :select_category %>
    <% if product.persisted? %>
      <%= f.collection_select(:product_categories_attributes, product.all_categories, :id, :name, { include_blank: true, selected: product.product_categories.pluck(:category_id) }, { multiple: true, class: 'form-select', id: 'validationTagsThreshold', data: { controller: 'tag-select', allow_clear: true, suggestions_threshold: 0 } }) %>
    <% else %>
      <%= f.collection_select(:product_categories_attributes, product.all_categories, :id, :name, { include_blank: true }, { multiple: true, class: 'form-select', id: 'validationTagsThreshold', data: { controller: 'tag-select', allow_clear: true, suggestions_threshold: 0 } }) %>
    <% end %>
  </div>

  <div class="mb-3">
   <%= f.select :provider_id, options_for_select(current_admin.providers_select, selected: product.provider_id), { include_blank: false }, { class: 'form-select' } %>
 </div>
  <%= nested_inventory_purchases(product, f) %>
  <%= f.submit class: blue_btn %>
<% end %>