<div class="d-inline-block m-1">
  <div class="<%= faulty_prod_card(product) %>" id="<%= dom_id product %>" style="width: 15rem;">
    <div class="card-body">
      <h5 class="card-title"><%= link_to product.name, product_path(product.id), class: "link-dark text-decoration-none" %></h5>
    </div>
      <div class="card-body">
        <p class="card-text"><%= product.description %></p>
        <% if product.image_data %>
          <div class="image-wrapper">
            <%= cl_image_tag(product.image_data.filename, width: 400, height: 400, crop: :fill, class: 'img-fluid') %>
          </div>
        <% end %>
        <% product.categories.each do |category| %>
          <span class="badge rounded-pill bg-info text-dark"><%= category.name %></span>
        <% end %>
      </div>
  </div>
</div>
