<div id="<%= dom_id product %>">
  <%= turbo_frame_tag 'edit_product' do %>
    <%= product.name %>
    <%= product.description %>
    <%= link_to 'edit', edit_product_path(product.id) %>
  <% end %>
</div>