<!DOCTYPE html>
<html>
  <head>
    <title>BuenoBonitoBarato</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= turbo_frame_tag 'error_message' %>
    <div class="super__container overflow-hidden px-2">
    <%= yield %>
    </div>
  </body>
  <script type="module">
      import Tags from "https://cdn.jsdelivr.net/gh/lekoala/bootstrap5-tags@master/tags.js";
      Tags.init("select");
  </script>
</html>
